
<div class="center">
    <p-card header="DASHBOARD" [style]="{'width': '40rem', 'margin-bottom': '2em'}">
            <span>Teste Viasoft Arquiteto JAVA</span>
    </p-card>
</div>
<div class="center"><ap-state-list [nfeStatus] = 'nfeStatus' ></ap-state-list></div>
<div class="center"><ap-by-state [status] = 'status' ></ap-by-state></div>
<div class="center"><ap-unavaliable [status] = 'status'></ap-unavaliable></div>
<div class="center"><ap-by-date [nfeStatus] = 'nfeStatus'></ap-by-date></div>




